<!-- Toolbar -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
  (closed)="events.push('close!')">
    <sidenav-menu (sidenavToggle)="sidenav.toggle()"></sidenav-menu>
    <!--this is a place for us to add side-nav code-->
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" fxLayoutAlign="space-between strech">
    <!--in here all the content must reside. We will add a navigation header as well-->
    <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
    <main style="overflow: scroll">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>