<div fxLayout="column" gdGap="10px" fxLayoutAlign="center space-between" style="height: 100%">
    <div fxLayout="column" gdGap="10px" fxLayoutAlign="center start">
      <div
        fxLayout="row"
        fxFlexOffset="15px"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
      >
        <img src="assets/img/logo_color.png" alt="colored_logo" />
      </div>
      <mat-divider></mat-divider>
      <div
        (click)="onToggleSidenav()"
        fxLayout="row"
        routerLink="/home"
        fxFlexOffset="15px"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
      >
        <mat-icon fxFlexOffset="20px">home</mat-icon>
        <span>Home</span>
      </div>
      <div
        (click)="onToggleSidenav()"
        fxLayout="row"
        routerLink="/home"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
      >
        <mat-icon fxFlexOffset="20px">search</mat-icon>
        <span>Search</span>
      </div>
      <div
        (click)="onToggleSidenav()"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
      >
        <mat-icon fxFlexOffset="20px">add_circle_outline</mat-icon>
        <span>Add Source</span>
      </div>
      <div
        (click)="onToggleSidenav()"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
      >
        <mat-icon fxFlexOffset="20px">apps</mat-icon>
        <span>Apps</span>
      </div>
      <div
        (click)="onToggleSidenav()"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="15px"
      >
        <mat-icon fxFlexOffset="20px">settings_applications</mat-icon>
        <span>Settings</span>
      </div>
    </div>
  </div>
  