@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    height: 100%;
}
body {font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
    height: 100%;
}
.content {
    padding: 1rem;
    max-width: 38rem;
    text-align: justify;
}

.main-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    overflow: scroll;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}
