.small-text {
    font-size: 14px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover, a:active{
    color: lightgray;
  }
  
  .navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  mat-toolbar{
    border-radius: 3px;
  }
  
  @media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
  }
  
  img {
    display: block;
    width:95%;
    height:95%;
    max-height: 66px;
    max-width: 86px;
  }
  
  .position-fixed {
    position: fixed;
  }