<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/"><img src="../../assets/img/white_logo.png"></a>
    </div>
    <div style="flex-grow: 1;"></div>
    <div *ngIf="router.url === '/data-envs' ||
        router.url === '/select-collection-from' ||
        router.url === '/import-data' ||
        router.url === '/destination-selected' ||
        router.url === '/share-freq' ||
        router.url === '/public-policy'">
        
        <a routerLink="/my-account">
            <mat-icon style="display: block;" svgIcon="user" class="icon-display"></mat-icon>
        </a>
    </div>
</mat-toolbar>
