<footer class="mat-toolbar mat-accent footer">
    <div class="margins" fxLayout="row" fxLayoutAlign="end center">
      <div fxLayout="row" fxLayoutAlign="center center">
        <a href="/">Privacy</a>
        <a href="/">Terms</a>
      </div>
    </div>
  </footer>
