footer {
    height: 30px;
    width: 100%;
    bottom: 0;
    font-size: 14px;
 }
 
 a {
    text-decoration: none;
    color: black;
    margin-right: 5px;
    margin-left: 5px;
 }
 
 .margins {
    margin-left: 10px;
    margin-right: 10px;
 }